.Header {
    background-color: #efefef;
    padding: 4px;
    border-bottom: 1px solid #555;


    .h1 {
        font-size: 2em;
    }

    .top {
        display: flex;
        align-items: flex-end;


        .left {
            flex: 1;
        }

        .right {
            padding-right: 4px;
        }

        a.main {
            color: black;
            text-decoration: none;
            font-style: normal;
        }
    }
}